<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA76fJn_NvVUlEjOcoFFEwxJV6LtdoWWr0</string>
	<key>GCM_SENDER_ID</key>
	<string>792304884904</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.daipayan.postfit</string>
	<key>PROJECT_ID</key>
	<string>postfit-5efe5</string>
	<key>STORAGE_BUCKET</key>
	<string>postfit-5efe5.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:792304884904:ios:65ba4a0502381eb916f69d</string>
</dict>
</plist>